* {
  margin: 0;
  padding: 0;
  background-color: rgb(224, 222, 222);
}
.body {
  margin-top: 5px;
}
.nav-parent {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}
.b1 {
  background-color: #f2968c;
  width: 500px;
  height: 100px;
  margin-top: 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.body-parent {
  display: flex;
  margin-left: 10px;
}
.first-box {
  background-color: #9ca88f;
  width: 700px;
  height: 505px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.second-box {
  width: 100px;
  height: 100px;
  background-color: #fff256;
}
.row {
  flex-direction: row;
}
.gb {
  background-color: #abbf77;
  width: 645px;
  height: 123px;
  margin-top: 4.5px;
  margin-left: 5px;
}
